*{
    margin: 0;padding: 0;
}
body{
    background-color: black;
}
.container {
    border: 1px solid;
    height: 520px;
    width: 480px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.container > div{
    border: 1px solid rgb(218, 212, 212);
    width: 95%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
}
.container > div >div{
    /* border: 1px solid; */
    width: 97%;
    height: 11.1%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    padding-left: 3%;
}
.container > div >div:first-child{
    background-color: #FFFFFF;
}
.container > div >div:nth-child(2){
    background-color: #B3D4FF;
}
.container > div >div:nth-child(3){
    background-color: #D6D7DB;
}
.container > div >div:nth-child(4){
    background-color: #B5EECC;
}
.container > div >div:nth-child(5){
    background-color: #FFC0C9;
}
.container > div >div:nth-child(6){
    background-color: #FFF6B8;
}
.container > div >div:nth-child(7){
    background-color: #B2E7ED;
}
.container > div >div:nth-child(8){
    background-color: #FDFDFE;
}
.container > div >div:last-child{
    background-color: #C6C8CA;
}