*{
    margin: 0;padding: 0;
}
body > div{
    width: 850px;
    /* border: 1px solid; */
    height: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > div > div{
    /* border: 1px solid; */
    height: 21%;
    /* background-color: #217867; */
    border-radius: 5px;
    display: flex;
    
    /* justify-content: start ; */
    
}

body > div > div >div{
    /* border: 1px solid; */
    width: 18%;
    margin-right: 4%;
    background-color: #217867;
    border-radius: 5px;
    /* flex-grow: 1; */
}