<%-include("../component/header",{ title : "Home" , cssLink : "../css/index.css" }) %>
<body>
    <%- include("../component/navbar") %>
        <div class="navSpacing" style="margin-top: 100px;"></div>

        <div class="displayBox">
          <form  action="/user/addUser" method="post">
        
            <div class="row">
                <div class="form-floating col-md-6 mb-3  box-sizing ">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="name@example.com">
                    <label for="first_name">Enter first name</label>
                </div>
                <div class="form-floating col-md-6 mb-3 box-sizing">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="name@example.com">
                    <label for="last_name">Enter last name</label>
                </div>
                <div class="form-floating col-md-6 mb-3 box-sizing">
                    <input type="text" class="form-control" id="age" name="age" placeholder="name@example.com">
                    <label for="age">Enter your age</label>
                </div>
                <div class="form-floating col-md-6 mb-3  box-sizing">
                    <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
                    <label for="email">Enter email adress</label>
                </div>
                
                <button type="submit" id="submitBTN"  class="btn btn-primary col-md-6 m-auto">Sign in</button>

            </div>
          </form>
                
        </div>

      
</body>
<script>
    const submit = document.getElementById("submitBTN");

    // submit.addEventListener("click", () => {
    //     const fname = document.getElementById("fName").value;
    //     const lname = document.getElementById("lName").value;
    //     const email = document.getElementById("email").value;
    //     const age = document.getElementById("age").value;

    //     let data = { fname, lname, email, age }
    //     data = JSON.stringify(data)
    //     console.log(data);

    // })

    
</script>