.overview{
    background-color: #F6F7FC;
    width: 100vw;
    padding: 30px;
    box-sizing: border-box;
}
.overview h2,
.overview h3
{
    text-align: left;
}

.overview .container{
    /* border: 1px solid; */
    border-radius: 15px;
    background-color: white;
    /* height: 600px; */
    /* height: 100%; */
    padding: 30px;
    box-sizing: border-box;
}

.DeleteBtn{
    color: red;
    font-size: 30px;
    cursor: pointer;
}