
        *{
            margin: 0;
        }
        nav{
            /* border: 1px solid; */
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            color: rgb(0, 0, 0);
            font-family: sans-serif;
            /* padding: 0px 40px ; */
            display: flex;
            align-items: center;
            justify-content: space-between;
             border-radius: 0px 0px 30px 30px;
             position: -webkit-sticky; 
  position: sticky;
  top: 0;
        }
        nav .logo{
            font-weight: bold;
            font-size: 25px;
            margin-left: 50px;
             /* border: 1px solid; */
        }
        nav ul{
            display: flex;
            /* gap: 50px; */
            width: 550px;
            padding-left: 100px;
            height: 50px;
            list-style: none;
             /* border: 1px solid; */
             justify-content: flex-start;
             align-items: center;
              background: rgba(255, 255, 255, 0.384);
            border-radius: 30px 0px 0px 0px;

        }
        nav ul li{
            /* border: 1px solid; */
            height: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            width: 130px;
            text-align: center;
             border-radius: 0px 0px 0px 30px;
        }
        nav ul a:hover{
            background: rgba(255, 255, 255, 0.432);
            border-radius: 0px;
        }
        nav a{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-decoration: none;
            border-radius: 0px 0px 0px 30px;
        }
        .active{
background: rgba(255, 255, 255, 0.432);
        }

/* ---------------------------------------------------- */
.formBox{
    /* border: 1px solid; */
    width: 400px ;
    /* height: 500px; */
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-bottom: 50px;
    margin: 50px auto;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: #b3cdd1;
background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.formBox .main_heading{
    margin: 20px;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    width: 100%;
}

.formBox input[type = "text"]{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    height: 30px;
    padding-left: 20px;
}
.formBox input[type = "submit"]{
    width: 100%;
    margin-top: 20px;
    height: 35px;
}
/* ------------------------------------- */

.cardFilterBox{
    /* border: 1px solid; */
    padding: 5px;
    width: 800px;
    margin: auto;
    display: flex;
    gap: 20px;
}
.cardFilterBox button{
    width: 100%; 
}
/* ------------------------------------------ */
.coroselDisplay{
    /* border: 1px solid; */
    height: 400px;
    background-size: cover;
    background-position: center;
}

.cardBox{
    /* border: 1px solid; */
    margin: 50px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,350px);
    gap: 50px;
    justify-content: center;
    
}
.cardBox .card{
    /* border: 1px solid; */
    /* height: 250px; */
    box-sizing: border-box;
    padding: 20px;
    /* width: 400px; */
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #bdd4e718;
    
background-image: linear-gradient(315deg, #bdd4e717 0%, #8693ab13 74%);

}
.cardBox .card .img{
    width: 100%;
}
.cardBox h3{
    text-align: right;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
.cardBox h2{
    border-top: 1px solid;
    margin-top: 5px;
    padding-top: 10px;
}