*{
    margin: 0;padding: 0;
}
body{
    background-color: black;
}
.container{
    width:850px;
    margin: auto;
    height: 100%;
    background-color: white;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box1{
    /* border: 1px solid; */
    /* height: 450px; */
    width:350px
}
.box1 h1{
    font-weight: 100;
}
.mt50{
    margin-top: 40px;
}
.box1 input{
    border: 2px solid;
    width:80%;
    height: 40px;
    margin-top: 12px;
}
.box1 .submit{
    margin: 50px auto;
    background-color: black;
    color: white;
    font-size: 26px;
    height:50px ;
}
.box2{
    border: 1px solid;
    height: 260px;
    width:290px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 100px 40px 100px 40px;
}
.name{
    font-size: 30px;
    font-weight: 10px;
    color: rgb(226, 216, 216);
}
.masai{
    font-size: 50px;
    font-weight: 100
}
.mail{
    margin-top: 35px;
    color: rgb(226, 216, 216);
    font-size: 30px;
    font-weight: 10px;

}
.mailadd{
    color: rgb(226, 216, 216);
    font-size: 28px;
    font-weight: 10px;
}
.mob{
     margin-top: 35px;
    color: rgb(226, 216, 216);
    font-size: 30px;
    font-weight: 10px;
}
.num{
    color: rgb(226, 216, 216);
    font-size: 28px;
    font-weight: 10px;
}